

.head {
    background-color: #1f2937;
    padding-left: 104px;
    padding-right: 104px;
    padding-bottom: 96px;
    
}

.headpart1, .headpart2 {
    display: flex;
    justify-content: space-between;
    
}
.headerpart2 {
    flex-wrap: wrap;
}

.chest {
    background-color: white;
}

.abdo {
    background-color: #E5E7EB;
}

.leg {
    background-color: white;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: white;
    padding: 16px;
}

.linkstext {
    display: flex;
    gap: 16px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    color: #E5E5EB;
    font-size: 18px;
    justify-content: flex-start;
    padding-bottom: 64px;
}

button {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10%;
   
}

.picture {
    height: 300px;
    width:auto;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    justify-content: end;
   

    max-width: 300px;
    

    
}



.maintext {
    
    width: 300px;
    justify-content: start;
    
    
    
    
}

.mt {
    color: #F9FAF8;
    font-size: 48px;
}

.st {
    font-size: 18px;
    color: #E5E5EB;
}





.abdo {
    display: flex;
    flex-direction: column;
    padding-left: 104px;
    padding-right: 104px;
}
.proverb {
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
}
.writer {
    display: flex;
    justify-content: end;
    font-weight: bold;
    font-size: medium;
   
}

.promo {
    display: flex;
    justify-content: center;
    padding-left: 104px;
    padding-right: 104px;

}

.chest {
    padding-bottom: 96px;
}
.st2 {
    font-size: 36px;
    color:#1f2937;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.commentedimg {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color:#1f2937;
    
}

.pic {
    width: 96px;
    height: 96px;
    border-radius: 15%;
    border-color:#3882F6;
    border-style: solid;
 
}

.comment {
    padding-top: 24px;
}

.leg {
    padding-left: 96px;
    padding-right: 96px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.callbox {
    display: flex;
  
    background-color: #3882F6;
    border-radius: 2%;
    padding: 48px;
    justify-content: space-around;
}

.telephone {
    display: flex;
    flex-direction: column;
    justify-content: start;
    color:#E5E5EB;
    padding-right: 16px;
}